# Core
streamlit==1.47.0
pandas>=2.0,<3.0
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0

# EDA and PDF Export
fpdf2==2.7.6
ydata-profiling==4.6.4
Pillow==10.3.0

# Utils
validators==0.22.0
scipy==1.11.4
GitPython==3.1.45
