# Core Dependencies
streamlit==1.47.0
pandas==2.2.2
numpy==1.24.4
matplotlib==3.7.5
seaborn==0.13.2
plotly==5.20.0

# File handling and export
fpdf2==2.8.3
Pillow==10.2.0

# Data Analysis / EDA
ydata-profiling==4.16.1

# Utilities
validators==0.35.0
scipy==1.11.4

# Git Support (optional)
GitPython==3.1.45
